.associates {
    margin: 0px auto 3rem auto;
    
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
        grid-gap: 2rem;
        justify-content: center;
    }
    .card {
        padding: 2rem 2rem;
        border-radius: .2rem;
        background:linear-gradient(180deg, #E3E3E3 0%,#babfc5 100%);

        // animation: card 7s linear infinite;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:nth-child(even) {
            background:linear-gradient(0deg, #E3E3E3 0%,#bcc1c7 100%);
        }

        .img {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            overflow: hidden;
            img{
                height: 10rem;
                max-width: 100%;
            }
        }
        button {
            border: none;
            outline: none;
            padding: .5rem 1rem;
            font-size: 1.05rem;
            color: #fff;
            background-color: #00000080;
        }
    }
}

@keyframes card {
    0% {
        background-color: #cdbdbd81;
    }
    10% {
        background-color: #cdbdc880;
    }
    20% {
        background-color: #c9bdcd80;
    }
    30% {
        background-color: #c2bdcd80;
    }
    40% {
        background-color: #bdc2cd80;
    }
    40% {
        background-color: #bdc6cd80;
    }
    50% {
        background-color: #bdcdc880;
    }
    60% {
        background-color: #bdcdc080;
    }
    70% {
        background-color: #c6cdbd80;
    }
    80% {
        background-color: #cdc8bd80;
    }
    90% {
        background-color: #c7b8b480;
    }
    100% {
        background-color: #d3c0c080;
    }
}