@import "./vars";

.associates {
    margin: 0px 0 3rem 0;
    
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
        grid-gap: 3rem;
        justify-content: center;
    }
    .card {
        padding: 2rem 2rem;
        border-radius: .2rem;
        // background:linear-gradient(180deg, #E3E3E3 0%,#babfc5 100%);
        transition: box-shadow .2s ease;
        // animation: card 7s linear infinite;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        p {
            margin: .5rem 0rem;
            font-size: 1.4rem;
            font-weight: 600;
        color: #27135c;
        }

        // &:nth-child(even) {
        //     background:linear-gradient(0deg, #E3E3E3 0%,#bcc1c7 100%);
        // }

        .img {
            border-radius: 50%;
            background: $primaryLight;
            padding: 0.3rem;
            display: flex;
            justify-content: center;
            align-content: center;

            img{
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                border: 5px solid #fff;
            }
        }

        button {
            border: none;
            outline: none;
            padding: .5rem 1rem;
            font-size: 1.05rem;
            color: #fff;
            background-color: $primaryDark;
            border-radius: .3rem;
            opacity: 0;
            pointer-events: none;
            transform: translateY(1rem);
            transition: opacity, transform, .2s ease-in-out;
            transition: opacity, -webkit-transform, .2s ease-in-out;
            cursor: pointer;
        }
        &:hover button {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0rem);
        }
        &:hover {
            box-shadow: 2px 8px 11px 0px #cbcbcb;

        }
    }
}

@keyframes card {
    0% {
        background-color: #cdbdbd81;
    }
    10% {
        background-color: #cdbdc880;
    }
    20% {
        background-color: #c9bdcd80;
    }
    30% {
        background-color: #c2bdcd80;
    }
    40% {
        background-color: #bdc2cd80;
    }
    40% {
        background-color: #bdc6cd80;
    }
    50% {
        background-color: #bdcdc880;
    }
    60% {
        background-color: #bdcdc080;
    }
    70% {
        background-color: #c6cdbd80;
    }
    80% {
        background-color: #cdc8bd80;
    }
    90% {
        background-color: #c7b8b480;
    }
    100% {
        background-color: #d3c0c080;
    }
}