@import "./vars";

#contactUs {
  color: #fff;
  background-image: url("../img/map.png");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .contact {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
  }
}

.details{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #afafb6;
  max-width: 85%;

  .detail{
    text-align: center;
    padding: 1rem; 
    svg{
      height: 1.8rem;
      width: 1.8rem;
      margin-bottom: .6rem;
      color: #ececec;
    }
    .field{
      font-weight: 500;
      color: #fff;
    }
    & > p:not(.field) {
      font-size: 1rem;
      color: #e1e1e1;
    }
  }
}



 .contact-form {

  .contact-title{
    font-size: 23px;
    font-weight: 600;
    color:  #f1ebff;
  }
  .contact-text{
    color:  #d9cff7;
  }
  .input-box{
    height: 4rem;
    margin: 2.1rem 0;

    input, textarea{
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      background: #363636;
      color: #fff;
      border-radius: 6px;
      padding: 0 15px;
      resize: none;
    }
  }
}


.contact-form .message-box{
  min-height: 11rem;
  textarea {
    padding-top: 6px;
  }
}
.contact-form .button{
  text-align: right;
  margin-top: 16px;
  button{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      background: #5029bc;
    }
  }
}


.contact-form form{
  display: flex;
  gap: 2rem;
  .left {
    margin-top: .3rem;
  }
  .left, .right {
    flex-grow:1;
  }
}



@media (max-width: 820px) {

   .details{
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   border: none;
   max-width: 100%;
 }

 #contactUs {
  .contact {
    grid-template-columns: 1fr;
  }
 }
}


@media (max-width: 550px) {

  .contact-form form {
    flex-direction: column;
    gap: 0rem;
  }
}






