footer {
    padding: 4rem 7rem;
    margin-top: auto;
    height: 50vh;
    background-color: rgb(211, 211, 211);

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    
}

