footer {
    padding: 2rem 7rem;
    margin-top: auto;
    // height: 50vh;
    background-color: rgb(211, 211, 211);

    // .container {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    // }
.bottom {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid rgb(185, 185, 185);
}    
}



