@import "./vars";
.form {


    form {
        max-width: 40rem;

        .submit{
            margin-top: 2rem;
        }
    }

}
.input-divider {
    font-size: 1.25rem;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #c2bdda;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.inputBox {
    display: flex;
    gap: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #c2bdda;
    justify-items: start;
    align-items: center;
    label {
        font-size: 1.2rem;
        color: #605b6e;
        font-weight: 500;
        width: 70rem;
        flex-shrink: 3;
    }
    input, textarea, select {
    width: 100%;
        border: 1px solid #b1a3d8;
        padding: 0.3rem  0.6rem;
        font-size: 1.05rem;
        background-color: #f2eefe;
        outline-color: #8570bf;
    }
}

@media (max-width: 400px) {
    // .inputBox {
    //     flex-wrap: wrap;
    // }
}