@import "./navbar";
@import "./hero";
@import "./footer";
@import "./associates";
@import "./about";
@import "./vars";
@import "./contact";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 3rem 7rem;

  article {
    color: $primary;
    font-size: 1.1rem;
  }
}

.associates {
  padding: 0rem 4rem;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  overflow-wrap: anywhere;
  h1 {
    color: #8d6ee5;
    text-align: center;
  }
  h3 {
    color: #8b8b8b;
    text-align: center;
    font-weight: 600;
  }
}
.container {
  padding: 4rem 10%;
}

div.divider {
  height: 0px;
  border-bottom: 1px solid #dbdbdb;
}